@import "reset.css";
@import "container.css";
@import "typography.css";
@import "spacing.css";
@import "remixicon/fonts/remixicon.css";

body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
}
