@import "reset.css";
@import "container.css";
@import "typography.css";
@import "spacing.css";
@import "remixicon/fonts/remixicon.css";

:root {
  --cl-primary-900: hsl(340, 56%, 33%);
}

body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
}
